[buildout]
parts = pil test coverage py   
develop = .

extensions = mr.developer
sources-dir = ${buildout:directory}/devsrc
always-checkout = force
auto-checkout = *

[remotes]
bda = git://github.com/bluedynamics
bda_push = git@github.com:bluedynamics

[sources]
yafowil = git ${remotes:bda}/yafowil.git pushurl=${remotes:bda_push}/yafowil.git

[pil]
recipe = zc.recipe.egg:custom
egg = Pillow
# Ubuntu development
library-dirs = /usr/lib/x86_64-linux-gnu

[test]
recipe = zc.recipe.testrunner
eggs = 
    ${pil:egg}
    yafowil[test]
    yafowil.widget.image[test]
defaults = ['--auto-color', '--auto-progress']

[coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']
    
[py]
recipe = zc.recipe.egg
eggs = 
    ${test:eggs}
interpreter = py
