[buildout]
parts = pil test coverage py   
develop = .

extensions = mr.developer
sources-dir = ${buildout:directory}/devsrc
always-checkout = force
auto-checkout = *

[remotes]
cs = git://github.com/conestack
cs_push = git@github.com:conestack

[sources]
yafowil = git ${remotes:cs}/yafowil.git pushurl=${remotes:cs_push}/yafowil.git

[pil]
recipe = zc.recipe.egg:custom
egg = Pillow
# Ubuntu development
library-dirs = /usr/lib/x86_64-linux-gnu

[test]
recipe = zc.recipe.testrunner
eggs =
    ${pil:egg}
    yafowil[test]
    yafowil.widget.image[test]
defaults = ['--auto-color', '--auto-progress']

[coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']
    
[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py
